.ml-10 {
  margin-left: 10px;
}
.mb-3 {
  margin-bottom: 3px;
}
.mt-18 {
  margin-top: 18px;
}
.mt-13 {
  margin-top: 13px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-125 {
  margin-top: 125px;
}

.pd-20 {
  padding: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-30 {
  margin-left: 30px;
}

.wd-300 {
  width: 300px;
}

.ml-70 {
  margin-left: 70px;
}

.height-300 {
  height: 300px;
}

.width-70 {
  width: 70px
}

.wd-100 {
  width: 100%; 
}
